# Project dependencies. Please keep this list in alphabetical order.

alembic[tz]==1.9.1              # Para gestionar migraciones
bcrypt==3.2.2                   # Para hashing de contraseñas
chromadb==0.3.25                # Almacenamiento vectorial para embeddings
flask==2.2.2                    # Framework principal
flask-restx==1.1.0              # Extensión para APIs RESTful
flask-WTF==1.0.1                # Formularios con validación
huggingface-hub>=0.23.2,<1.0    # Para cargar modelos de HuggingFace
langchain==0.0.254              # Herramientas para cadenas de consulta
numpy==1.22.4                   # Operaciones numéricas
psycopg2-binary==2.9.5          # Conector para PostgreSQL
pyjwt==2.6.0                    # Para JSON Web Tokens
python-dotenv==0.21.0           # Gestión de variables de entorno
requests==2.31.0                # Para realizar peticiones HTTP
sentence-transformers==2.2.2    # Embeddings para IA
sqlalchemy==1.4.46              # ORM principal
torch==2.0.1                    # Framework de aprendizaje profundo
transformers==4.44.0            # Modelos preentrenados de HuggingFace
Werkzeug==2.2.2                 # Servidor WSGI
wtforms==3.0.1                  # Manejo de formularios
